
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


<h2>About Us</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p> Neo Prism strives to provide <strong>P</strong>roactive, <strong>R</strong>eliable, <strong>I</strong>nnovative, <strong>S</strong>ustainable and <strong>M</strong>eticulous IT and Business solutions. Neo Prism has attracted best talent in the industry through its associate friendly culture. The company primarily focuses on Business Intelligence & DataWarehousing, Database Management Systems, Application Packaging and Virtualization. We develop strategies for collecting, organizing, and distributing data, as well as offer assessment services for enhancing information management projects.</p>
            <p>Neo Prism Solutions, Inc. specializes in providing IT solutions and services to a select set of industry segments by leveraging our domain expertise and IT proficiency. These services are focused on helping companies realize business benefits through effective and successful IT deployment. We emphasize on two major concepts: delivering our services and solutions on-time and on-budget. We value every customer engagement and strive to deliver the highest quality services.</p>
            <p>Neo Prism Solutions is a rapidly growing IT Services and Solutions company providing innovative and cost effective solutions for our customers and fulfilling their strategic resource requirements.</p>
            <p>We offer a wide range of IT services that address the diverse needs of our clients, including but not limited to E-Business Strategy, ERP, Application Development & Maintenance, Data Warehousing, Technical Architecture, Systems Migration, and Enterprise Application Integration.</p>
            <p>In order to succeed in this rapidly growing and changing market, we must have on staff professionals who are highly skilled; who are educated; and have specialized IT knowledge. Our employees possess strong technical and business skills that enable us to deliver targeted and customized Solutions that enhance overall business value for our customers. They are highly talented and motivated. Our employees collectively have extensive experience working on all types of projects, including complex enterprise wide applications at Fortune 500 companies. Our alliances with leading technological and application vendors enable our employees to quickly design, develop, and implement new products and solutions as they are introduced to the market.</p>
        </div>
        <br />
    </div>
</div>


<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>