
@{
    ViewBag.Title = "Values";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />



<h2>Values</h2>
<div class="container">
    <h3>Values</h3>
    <p><strong>P</strong>roactive</p>
    <p><strong>R</strong>eliable</p>
    <p><strong>I</strong>nnovative</p>
    <p><strong>S</strong>ustainable</p>        
    <p><strong>M</strong>eticulous</p>
</div>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />




<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>