
@{
    ViewBag.Title = "BussinessConsulting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Bussiness Consulting</h2>
            <p>Business Consulting has a tremendous potential for helping both public and private sector organizations. It has already shown value in many areas of the business and promises to show increased value throughout the business as it matures. It is the primary support for developing an intelligent learning organization.</p>
            <p>There are two major reasons why the increased interest in Business Consulting: the information age and the economy. In the information age, information is power. Companies that leverage, exploit and maximize their information assets have a strategic advantage over their competitors. Business today moves at the speed of information. Getting the right information into the right hands at the right time is essential.</p>
        <h5>Neo Prism Specializations</h5>
            <ul>
                <li>Complete Project life for Business Decision Support Applications</li>
                <li>IT Business Alignment</li>
                <li>Provide Road Map</li>
                <li>Business Application Rationalization</li>
            </ul>
        </div>
    </div>
</div>





<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>