
@{
    ViewBag.Title = "ItConsulting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>ItConsulting</h2>
            <h3>Business Intelligence and Data Warehousing</h3>
            <p>Neo Prism Solutions provides assistance on a wide variety of Data Architecture, ETL, Business Intelligence, DBMS and MDM applications. We assist our clients in choosing the right tools, infrastructure deployment, framework architecture, development, implementation, maintenance and support.  We assist our client in all stages of the software SDLC process with the help of our highly qualified associates.</p>
            <h3>NeoPrism BI and DW Specialization</h3>
            <ul>
                <li>Roadmap</li>
                <li>Project Management</li>
                <li>Data Governance</li>
                <li>DBMS (DB2, Oracle, Teradata, Netezza, SQL Server etc)</li>
                <li>ETL Tools (IBM Information Server Suite/DataStage, Informatica, Talend, SSIS, AB Initio etc)</li>
                <li>BI Tools (Business Objects, OBIEE, Cognos, QlikView, SPSS Clementine, SAS, Salesforce.com etc)</li>
                <li>Master Data Management (IBM, Oracle, Informatica products)</li>
            </ul>
            <p><h3>ERP</h3></p>
            <p>An ERP software solution like SAP can maintain information and business processes for a variety of business functions such as Manufacturing, Supply Chain Management, Financials, Human Resources and Customer Relationship Management. The ability of an ERP system to provide the same updated and accurate information across different functions is what makes the application so valuable to enterprises.</p>
            <p>Apart from the low cost of ownership and savings achieved by standardizing one application to manage multiple business functions, usage of ERP promises much more. With successful implementation of an ERP system, top management can have a consolidated view of sales, inventory, receivables etc at the same time.</p>
            <p>We have an experienced team which develops and maintains ERP solutions across various platforms. Our expert team provides cost effective support for most of the ERP products. We assist our clients in all stages of ERP development, support and maintenance.</p>
            <h3>Neo Prism Specializations</h3>
            <ul>
                <li>ERP implementation</li>
                <li>ERP reporting</li>
                <li>Support and Maintenance</li>
                <li>Consolidation across various ERPs</li>
            </ul>
        </div>
    </div>
</div>




<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>