
@{
    ViewBag.Title = "LifeSciencesComputerValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>LifeSciences Computer Validation</h2>
            <p>Life science companies must manage global compliance standards and accelerating performance expectations to maintain a competitive advantage in the industry. Companies are looking to decrease costs, accelerate time to market, increase productivity, while achieving, simplifying and maintaining compliance.</p>
            <p>The pharmaceutical industry can barely breathe without mentioning any number of acronyms that govern—and in some cases, ease—the packaging process: 21 CFR Part 11, GAMP, JETT, FAT, PAT and URS are just a few of them, all part of the complicated process called validation.</p>
            <p>Simply stated, validation means that the pharmaceutical companies must document each step of the manufacturing process, including packaging, and verify irrefutably that each step, each process, each machine does exactly what it’s supposed to do—each time. This ensures the safety and quality of the medicines that so many people depend on every day.</p>
            <p>Our team of associates includes seasoned Validation Engineers, Technical Writers, pharmacists, Lab Technicians and healthcare specialists. We work closely with regulatory authorities across the world in the drug safety area. We are committed to optimize spend and staffing on quality and safety activities through continuous improvement-oriented service delivery model. Ourassociates are well qualified in industry best practices for validation, qualification, compliance assessments, and vendor audits that cover systems and processes in all your regulated areas.</p>
            <h3>Complacence Standards/Validation/Expertise</h3>
            <p>21 CFR Part 11,	21 CFR Part 50,	21 CFR Part 56,	21 CFR Part 58,	21 CFR Part 210, 21 CFR Part 211, 21 CFR Part 820, Computer System Validation, Manufacturing Validation, Analytical Instrument Validation, Process Validation, Commissioning / Decommissioning, GxP Assessments, Validation Master Plans, Validation Risk Assessment, URS Generation, FRS Generation, IQ/OQ/PQ Protocols, Validation Reports, SOPDevelopment, Argus Safety and Trackwise Validation.</p>
        </div>
    </div>

</div>

<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>