
@{
    ViewBag.Title = "OurClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../css/modern-business.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<style>
    .imgstyle {
        height: 50px;
        width: 50px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Clients</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/3DSYSTEMS.jpg" alt="3DSYSTEMS_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Abbott.jpg" alt="Abbott_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Abbvie.jpg" alt="Abbvie_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/All State.jpg" alt="All State_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/AmericanExpress.jpg" alt="AmericanExpress_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Anixter.jpg" alt="Anixter_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Appirio.jpg" alt="Appirio_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Astellas.jpg" alt="Astellas_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Bayer.jpg" alt="Bayer_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/BCBSIL.jpg" alt="BCBSIL_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CapitalOne.jpg" alt="CapitalOne_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CatholicHealthInitiatives.jpg" alt="CatholicHealthInitiatives_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CentralHudson.jpg" alt="CentralHudson_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CeteraFinancial.jpg" alt="CeteraFinancial_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CityofBoston.jpg" alt="CityofBoston_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Conagra.jpg" alt="Conagra_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Covance.jpg" alt="Covance_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Covidien.jpg" alt="Covidien_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/CVS.jpg" alt="CVS_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/DaimlerTrucks.jpg" alt="DaimlerTrucks_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/DeLageLanden.jpg" alt="DeLageLanden_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Dex Media.jpg" alt="Dex Media_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Discover.jpg" alt="Discover_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/DishNetwork.jpg" alt="DishNetwork_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Elavon.jpg" alt="Elavon_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/EmblemHealth.jpg" alt="EmblemHealth_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/EquityTrust.jpg" alt="EquityTrust_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Estes Express.jpg" alt="Estes Express_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/ETrade.jpg" alt="ETrade_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/EverestReGroup.jpg" alt="EverestReGroup_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/FunPlus.jpg" alt="FunPlus_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/GATX.jpg" alt="GATX_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Genentech.jpg" alt="Genentech_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Gilead.jpg" alt="Gilead_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Grainger.jpg" alt="Grainger_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Hanger.jpg" alt="Hanger_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/HealthAlliancePlan.jpg" alt="HealthAlliancePlan_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/JnJ.jpg" alt="JnJ_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/JPMorganChase.jpg" alt="JPMorganChase_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Motorola.jpg" alt="Motorola_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Pfizer.jpg" alt="Pfizer_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/PNC Bank.jpg" alt="PNC Bank_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/PremierInc.jpg" alt="PremierInc_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Sears.jpg" alt="Sears_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/ShoreMortgage.jpg" alt="ShoreMortgage_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/SimonPropertyGroup.jpg" alt="SimonPropertyGroup_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Stryker.jpg" alt="Stryker_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Target.jpg" alt="Target_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/TEVA.jpg" alt="TEVA_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/TheDoctorsCompany.jpg" alt="TheDoctorsCompany_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/TJX.jpg" alt="TJX_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Toyota.jpg" alt="Toyota_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Unilever.jpg" alt="Unilever_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/UnitedHealthCare.jpg" alt="UnitedHealthCare_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Visa.jpg" alt="Visa_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/Walgreens.jpg" alt="Walgreens_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/WellsFargo.jpg" alt="WellsFargo_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/WesternDigital.jpg" alt="WesternDigital_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/WesternUnion.jpg" alt="WesternUnion_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Client Images/ZurichInsurance.jpg" alt="ZurichInsurance_logo">
        </div>
    </div>
    <!-- /.row -->
    <!-- Our Customers -->
    <!-- /.row -->
</div>




<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>