
@{
    ViewBag.Title = "OurPartners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />



<div class="container">
    <h2>OurPartners</h2>

    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/1OracleSilverPartner.jpg" alt="1OracleSilverPartner_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/2IBMBusinessPartner.jpg" alt="2IBMBusinessPartner_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/4SalesforcePartner.jpg" alt="4SalesforcePartner_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Accenture.jpg" alt="Accenture_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/BeaconHill.jpg" alt="BeaconHill_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Cognizant.jpg" alt="Cognizant_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Experis.jpg" alt="Experis_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/GENPACT.jpg" alt="GENPACT_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/HCLGlobal.jpg" alt="HCLGlobal_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/iGate.jpg" alt="iGate_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Infosys.jpg" alt="Infosys_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/InsightGlobal.jpg" alt="InsightGlobal_logo">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/KFORCE.jpg" alt="KFORCE_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Optime-Tech.jpg" alt="Optime-Tech_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Randstad.jpg" alt="Randstad_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Sogeti.jpg" alt="Sogeti_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/TCS.jpg" alt="TCS_logo">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="~/Images/Partner Images/Wipro.jpg" alt="Wipro_logo">
        </div>
    </div>
    <br />
</div>




<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
