
@{
    ViewBag.Title = "CurrentOpenings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


<h2>CurrentOpenings</h2>

131
13
13
1
31
313
1313
1






<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>