
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Carrers</h2>
           <p>Neo Prism Solutions , Inc is dedicated to identify, recruit, train and retain some of the best technical talents in the industry. Owing to our approach of sharing the success and nurturing talents in an environment that encourages free and open exchange of thoughts, we have become one of the most revered names amongst IT professionals in the industry.</p> 
            <p>Focusing on achieving only the best results, we work with complete truthfulness and mutual respect, and everyone associated with us strives to do the same. The skills and commitment shown by the talented people picked by us to offer world-class IT & Product Development services have helped us in gaining a leading edge over our competitors.</p>
            <p>All our recruits are guided and empowered to select an appropriate career path providing value addition to their talent, thereby allowing them to leverage on their strengths and touch new horizons of success. The possibilities in the field of staffing are endless, given that more and more companies are looking for best talents in the industry thanks to the exponential growth of the national economy.</p>
            <p>We believe that retaining talents is as important as finding them, therefore, we have specially designed unique and highly effective employee retention and development systems and processes. This ensures that all the recruits witnesses immense growth in both personal as well as professional spheres.</p>
            <p>We recruit talented persons at various levels from freshers to experienced professionals, which allow us to select the right person for our requirements. Moreover, we nurture and accentuate the talent of our team by providing excellent working environment, wherein they can discover their true potential and use it to their optimum level. Our open, warm and friendly working environment offers endless opportunities to our employees to put forth their ideas and use their skills in the best possible way without any restrictions. We also follow a continuous learning procedure, which makes us one of the most preferred places to work by the best talents of the industry.</p>
            <p>If you too are looking forward to make a bright career but don’t know where to start, then IT Neo Prism Solutions is the right place for you. We will be more than happy to help you identify your correct career path based on your requirements and skills.</p>
            <p>We have opportunities for both permanent and consulting position. Just send us your resume and let’s work together to identify the best opportunity for you that does justice with your goals and experience.</p>
        </div>

    </div>
</div>






<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>