
@{
    ViewBag.Title = "WhatWeOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/modern-business.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>WhatWeOffer</h2>
            <p>
                Full time Neo Prism Associates are supported by one of the most complete health and benefits packages in the IT service industry. <br />The Neo benefits package includes:
            </p>
            <ul>
                <li>Generous health benefits for you and your eligible dependents, with medical ,dental and vision care plans.</li>
                <li>Life Insurance and Accidental Death & Dismemberment (AD&D) Insurance.</li>
                <li>An annual “time bank” of days, giving you wide flexibility for structuring and managing your time away from work.</li>
                <li>A highly flexible 401(k) Employee Savings Plan, allowing you to reduce taxes while building a retirement nest egg.Complete Visa processing, where applicable</li>
            </ul>
        </div>
    </div>
</div>






<script src="../scripts/jquery-1.10.2.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>